# Compiled Python files
*.pyc
beautify_bash.py

# Folder view configuration files
.DS_Store
Desktop.ini
.idea/*

# Thumbnail cache files
._*
Thumbs.db

# Files that contain credentials or personal info
.extra
.ini
.conf
.cnf
.config
.boto
.mrjob.conf
.s3cfg
.aws/